/* fira-sans-300 - latin */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Fira Sans Light'), local('FiraSans-Light'),
			url('../fonts/fira-sans/fira-sans-v10-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/fira-sans/fira-sans-v10-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-300italic - latin */
@font-face {
	font-family: 'Fira Sans';
	font-style: italic;
	font-weight: 300;
	src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'),
			url('../fonts/fira-sans/fira-sans-v10-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/fira-sans/fira-sans-v10-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-regular - latin */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Fira Sans Regular'), local('FiraSans-Regular'),
			url('../fonts/fira-sans/fira-sans-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/fira-sans/fira-sans-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-italic - latin */
@font-face {
	font-family: 'Fira Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Fira Sans Italic'), local('FiraSans-Italic'),
			url('../fonts/fira-sans/fira-sans-v10-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/fira-sans/fira-sans-v10-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-500 - latin */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Fira Sans Medium'), local('FiraSans-Medium'),
			url('../fonts/fira-sans/fira-sans-v10-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/fira-sans/fira-sans-v10-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-500italic - latin */
@font-face {
	font-family: 'Fira Sans';
	font-style: italic;
	font-weight: 500;
	src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'),
			url('../fonts/fira-sans/fira-sans-v10-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/fira-sans/fira-sans-v10-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-600 - latin */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
			url('../fonts/fira-sans/fira-sans-v10-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/fira-sans/fira-sans-v10-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-600italic - latin */
@font-face {
	font-family: 'Fira Sans';
	font-style: italic;
	font-weight: 600;
	src: local('Fira Sans SemiBold Italic'), local('FiraSans-SemiBoldItalic'),
			url('../fonts/fira-sans/fira-sans-v10-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/fira-sans/fira-sans-v10-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}